===========================================================================================
  +----------+
  |  SPINES  |
  +----------+----------------------------+-------------+
{%- for i in range(1,nbspine+1) %}
  |  spine{{i}}  |  Loopback0: 10.0.0.10{{i}}/32  |  AS: 65000  |
  +----------+----------------------------+-------------+
{%- endfor %}
  |  Interfaces To-Leaf  |  Ethernet0-{{nbleaf*2+1}}  |
  +----------------------+---------------+
  +---------+
  |  LEAFS  |
  +---------+--------------------------+-------------+----------------------------------+-----------------------------------+
{%- for i in range(1,nbleaf*2+1) %}
  |  leaf{{i}}  |  Loopback0: 10.0.0.{{i}}/32  |  AS: 6500{{(i+1)//2}}  | Loopback1 (vtep) : 10.0.10.{{(i+1)//2}}/32  |  MCLAG Source IP : 10.10.10.{{i-1}}/31  | 
  +-------- +--------------------------+-------------+----------------------------------+-----------------------------------+
{%- endfor %}
  |  Interfaces To-Spine  |  Ethernet0-{{nbspine}}  |
  +-----------------------+-+-------------++
  |  Interfaces To-Servers  | Ethernet{{nbspine+1}}-{{nbspine+1+nbsrv}}  |
  +---------+---------------+--------------+-----------+-------------------------------------------+
  |  MCLAG  | Peerlink : PortChannel1 (Ethernet22-23)  | Keepalive : Int Vlan4094 (10.10.10.x/31)  |
  +--------++------------------------------------------+-------------------------------------------+
  +--------+
  |  VRFs  |
  +--------+--------------+
{%- for i in range(1,nbsrv+1) %}
{%- if (i+2)%2 == 0 %}
  |  VRF{{i}}  |  Vlans : {% for j in range(1,nbleaf+1) %}1{{j}}{{((i+1)//2)}}(Leaf{{j}}), {% endfor %}30{{i//2}}(L3 VNI)  |
  +--------+-----------{% for j in range(1,nbleaf+1) %}------------{% endfor %}------------+
{%- else %}
  |  VRF{{i}}  |  Vlan : 20{{(i+1)//2}}  |
{%- if ((nbsrv+2)%2) == 0 %}
  +--------+-----------{% for j in range(1,nbleaf+1) %}------------{% endfor %}------------+
{%- else %}
  +--------+--------------+
{%- endif %}
{%- endif %}
{%- endfor %}
  +---------+
  |  VLANs  |
  +-------+-+------------------+--------+------------+
{%- for i in range(1,(nbsrv+1)) %}
{%- if (i+2)%2 != 0 %}
  |  20{{i}}  |  192.168.20{{i}}.0/24  |  Vrf{{i}}  |  Leaf:1-{{(nbleaf*2)}}  |
  +-------+--------------------+--------+------------+
{%- else %}
{%- for j in range(1,nbleaf+1) %}
  |  1{{j}}{{(i+1)//2}}  |  192.168.1{{j}}{{(i+1)//2}}.0/24  |  Vrf{{i}}  |  Leaf:{{2*j-1}}-{{2*j}}  |
{%- endfor %}
  |  30{{(i+1)//2}}  |       L3-VNI       |  Vrf{{i}}  |  Leaf:1-{{(nbleaf*2)}}  |
  +-------+--------------------+--------+------------+
{%- endif %}
{%- endfor %}
  +-----------+
  |  CLIENTS  |
  +-----------++--------------------------+------------+-------------+-------------------------------------+
{%- for i in range(1,nbleaf+1) %}
{%- for j in range(1,nbsrv+1) %}
  |  client{{i}}{{j}}  |  IP@: 192.168.{{2-((j+1)%2)}}{{i*((j+1)%2)}}{{((j+1)//2)}}.{{i}}{{j}}/24  |  Leaf:{{2*i-1}}-{{2*i}}  |  Vlan: {{2-((j+1)%2)}}{{(i)*((j+1)%2)}}{{((j+1)//2)}}  | PortChannel{{j}}00 (Ethernet{{nbspine+j}}) on Leaf  |
  +------------+--------------------------+------------+-------------+-------------------------------------+
{%- endfor %}
{%- endfor %}

