switch_role: leaf

vlan_mclag: 4094
mclag_system_mac: 52:54:00:a5:87:{{((leafnumber+1)//2)+10}}
mclag_gateway_mac: 52:54:00:a5:87:{{((leafnumber+1)//2)+10}}

sonic_interfaces:
{%- for i in range(1,nbspine+1) %}
   - name: Ethernet{{i-1}}
     description: To_Spine_{{i}}
     enabled: true
{%- endfor %}
{%- for i in range(0,nbsrv) %}
   - name: Ethernet{{nbspine+i}}
     description: To_Server_{{i+1}}{{leafnumber}}
     enabled: true
{%- endfor %}
   - name: Ethernet22
     description: To_MCLAG_peer
     enabled: true
   - name: Ethernet23
     description: To_MCLAG_peer
     enabled: true
   - name: Loopback0
     description: Loopback_underlay
     enabled: true
   - name: Loopback1
     description: Loopback_overlay
     enabled: true

sonic_l2_interfaces:
{%- for i in range(0,nbsrv) %}
  - Ethernet{{nbspine+i}}
{%- endfor %}
  - Ethernet22
  - Ethernet23

sonic_lag_interfaces:
   - name: Portchannel1
     members:
      interfaces:
        - member: Ethernet22
        - member: Ethernet23
{%- for i in range(1,nbsrv+1) %}
   - name: Portchannel{{i}}00
     members:
       interfaces:
         - member: Ethernet{{nbspine+i-1}}
{%- endfor %}

sonic_l3_interfaces:
   - name: Loopback0
     ipv4:
       addresses:
        - address: 10.0.0.{{leafnumber}}/32
   - name: Loopback1
     ipv4:
       addresses:
        - address: 10.0.10.{{(leafnumber+1)//2}}/32
   - name: Vlan{{'{{'}}vlan_mclag{{'}}'}}
     ipv4:
       addresses:
        - address: 10.10.10.{{leafnumber-1}}/31
{%- for i in range(1,nbspine+1) %}
   - name: Ethernet{{i-1}}
     ipv6:
       enabled: true
{%- endfor %}

sonic_mclag:
  domain_id: 1
{%- if (leafnumber+2)%2 == 0 %}
  peer_address: 10.10.10.{{leafnumber-2}}
{%- else %}
  peer_address: 10.10.10.{{leafnumber}}
{%- endif %}
  source_address: 10.10.10.{{leafnumber-1}}
  peer_link: PortChannel1
  keepalive: 1
  session_timeout: 3
  unique_ip:
    vlans:
      - vlan: Vlan4094
  members:
     portchannels:
{%- for i in range(1,nbsrv+1) %}
       - lag: PortChannel{{i}}00
{%- endfor %}

sonic_route_maps_cli:
  - name: REDISTU
    permit: true
    seq: 10
    match_ip_prefix_list: UNDERLAY

sonic_prefix_list_cli:
  - name: UNDERLAY
    permit: true
    entries:
     - ip: 10.0.0.0/24
       condition: ge 32 le 32
       seq: 1
     - ip: 10.0.10.0/24
       condition: ge 32 le 32
       seq: 10

sonic_bgp:
   - bgp_as: "6500{{(leafnumber+1)//2}}"
     router_id: 10.0.0.{{leafnumber}}
     bestpath:
       as_path:
         multipath_relax: true
{%- for i in range(1,nbsrv+1) %}
   - bgp_as: "6500{{(leafnumber+1)//2}}"
     vrf_name: Vrf{{i}}
{%- endfor %}

sonic_bgp_af:
    - bgp_as: "6500{{(leafnumber+1)//2}}"
      address_family:
        afis:
          - afi: l2vpn
            safi: evpn
            advertise_all_vni: true
            advertise_prefix: 
              - afi: ipv4
                safi: unicast
          - afi: ipv4
            safi: unicast
            redistribute:
              - protocol: connected
                route_map: REDISTU
            max_path:
              ebgp: 4
{%- for i in range(1,nbsrv+1) %}
    - bgp_as: "6500{{(leafnumber+1)//2}}"
      vrf_name: Vrf{{i}}
      address_family:
        afis:
          - afi: l2vpn
            safi: evpn
            advertise_prefix:
              - afi: ipv4
                safi: unicast
          - afi: ipv4
            safi: unicast
            redistribute:
              - protocol: connected
{%- endfor %}

sonic_bgp_neighbors:
    - bgp_as: "6500{{(leafnumber+1)//2}}"
      peer_group:
        - name: SPINE
          remote_as:
            peer_type: external
          advertisement_interval: 5
          timers:
            keepalive: 3
            holdtime: 9
          bfd: true
          capability:
            extended_nexthop: true
          address_family:
            afis:
              - afi: l2vpn
                safi: evpn
                activate: true
              - afi: ipv4
                safi: unicast
                activate: true
                allowas_in:
                  value: 2
      neighbors:
{%- for i in range(1,nbspine+1) %}
        - neighbor: Ethernet{{i-1}}
          peer_group: SPINE
{%- endfor %}

sonic_l2_vni_vlans_list:
{%- for i in range(1,(((nbsrv)//2)+1)) %}
  - vlan_id: 1{{((leafnumber+1)//2)}}{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv+1)//2)+1)) %}
  - vlan_id: 20{{i}}
{%- endfor %}

{% if nbsrv > 1 -%}
sonic_l3_vni_vlans_list:
{%- endif %}
{%- for i in range(1,(((nbsrv)//2)+1)) %}
  - vlan_id: 30{{i}}
{%- endfor %}

sonic_vlans_prefix_list:
{%- for i in range(1,(((nbsrv)//2)+1)) %}
  - vlan_id: 1{{((leafnumber+1)//2)}}{{i}}
    prefix: 10.87.1{{((leafnumber+1)//2)}}{{i}}.0/24
{%- endfor %}
{%- for i in range(1,(((nbsrv+1)//2)+1)) %}
  - vlan_id: 20{{i}}
    prefix: 10.87.20{{i}}.0/24
{%- endfor %}

sonic_vlans_interfaces:
  - name: Portchannel1
    trunk:
      allowed_vlans:
        - vlan: 4094
{%- for i in range(1,(((nbsrv)//2)+1)) %}
        - vlan: 1{{((leafnumber+1)//2)}}{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv+1)//2)+1)) %}
        - vlan: 20{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv)//2)+1)) %}
        - vlan: 30{{i}}
{%- endfor %}
{%- for i in range(1,nbsrv+1) %}
  - name: PortChannel{{i}}00
    access:
      vlan: {{2-((i+1)%2)}}{{((leafnumber+1)//2)*((i+1)%2)}}{{((i+1)//2)}}
{%- endfor %}

sonic_vxlan_conf:
  - name: vtep{{(leafnumber+1)//2}}
    source_ip: 10.0.10.{{(leafnumber+1)//2}}
    evpn_nvo: nvo1
    vlan_map:
{%- for i in range(1,(((nbsrv)//2)+1)) %}
      - vni: 1{{((leafnumber+1)//2)}}{{i}}
        vlan: 1{{((leafnumber+1)//2)}}{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv+1)//2)+1)) %}
      - vni: 20{{i}}
        vlan: 20{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv)//2)+1)) %}
      - vni: 30{{i}}
        vlan: 30{{i}}
{%- endfor %}
{%- for i in range(1,(((nbsrv)//2)+1)) %}
    vrf_map:
      - vni: 30{{i}}
        vrf: Vrf{{i*2}}
{%- endfor %}

sonic_anycast_mac_address: 52:54:00:a5:87:87

sonic_vrfs:
{%- for i in range(1,(nbsrv+1)) %}
  - name: Vrf{{i}}
    members:
      interfaces:
{%- if (i+2)%2 == 0 %}
        - name: Vlan1{{((leafnumber+1)//2)}}{{i//2}}
        - name: Vlan30{{i//2}}
{%- else %}
        - name: Vlan20{{(i+1)//2}}
{%- endif %}
{%- endfor %}

